<!doctype html>
<html>
<head>
  <title>Recipe Web App</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  {{{body}}}
  <!-- Footer -->
  <div class="footer">
    <p>Casey Nord - 2019</p>
  </div>
</body>
</html>
