<div class="header">
  <h1>Really Tasty Links!</h1>
  <button type="button" onclick="location.href='/'">Home</button>
</div>

<div class="links">
  <ul>
    <li><a href="https://tasty.co/">More Tasty Recipes!</a></li>
    <li><a href="https://www.youtube.com/channel/UCJFp8uSYCjXOMnkUyb3CQ3Q">Tasty Videos!</a></li>
    <li><a href="https://www.instagram.com/cookingforbae/">Tasty Food on Instagram!</a></li>
    <li><a href="https://twitter.com/search?q=%23tasty&src=typd">Stay Up To Date With Everything Tasty!</a></li>
    <li><a href="http://www.ghosttowngames.com/overcooked-2/">Check Out This Tasty Game!</a></li>
    </ul>
</div>
