<div class="header">
  <h1>Really Tasty Recipes!</h1>
  <button type="button" onclick="location.href='/preqs'">Project Requirements</button>
  <button type="button" onclick="location.href='/toc'">Table of Contents</button>
  <button type="button" onclick="location.href='/links'">Tasty Links!</button>
</div>

<br>

<div class="slideshow-container">
  <div class="mySlides fade">
    <img src="images/slide1.jpg" class="slides">
    <div class="text">Kabob Salad, tasty!</div>
  </div>
  <div class="mySlides fade">
    <img src="images/slide2.jpg" class="slides">
    <div class="text">Is that chicken? Porkchops? Either way, tasty!</div>
  </div>
  <div class="mySlides fade">
    <img src="images/slide3.jpg" class="slides">
    <div class="text">Looks tasty! I'm still hungry!</div>
  </div>
  <div class="mySlides fade">
    <img src="images/slide4.jpg" class="slides">
    <div class="text">Is that stew? Tasty!</div>
  </div>
  <div class="mySlides fade">
    <img src="images/slide5.jpg" class="slides">
    <div class="text">Tasty Tuna Salad!</div>
  </div>
<script type="text/javascript" src="slider.js"></script>

<!-- adapted from: https://www.w3schools.com/howto/howto_js_slideshow.asp -->

