<div class="header">
  <h1>Table of Contents</h1>
  <button type="button" onclick="location.href='/'">Home</button>
</div>

<div class="links">
  <ul>
    <li><a href="/kartoffelkuchen">Kartoffelkuchen</a></li>
    <li><a href="/mug_cake">Mug Cake</a></li>
  </ul>
</div>
